.playerComponent
{
    background-color: white;
    width: 480px;
    max-width: 100%;
    margin: 1em auto;
    padding-bottom: 2em;
    border: 0.1px solid black;
    border-radius: 10px;
    text-align: center;
}
.musicCover {
    border-radius: 10%;
  }
  .playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
  }
  .subTitle {
    margin-top: -1em;
    color: #4f4f4f;
  }
  
  .time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: #828282;
    font-size: smaller;
    flex-direction: row;;
  }
  
  .timeline {
    width: 80%;
    background-color: var(--main-color);
  }
  
  input.playerRange {
    background-color: var(--main-color);
  }

  .playerControllers{
    width: auto;
    margin: auto;;
  }

  .timeline{
    accent-color: var(--main-color)
  }